@model MvcKutuphane.Models.Entity.TBLHAREKET
@{
   ViewBag.Title = "OduncIade";
   Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
   <div style="margin-bottom:15px;"></div>
   <div class="form-group">
      <label>Hareket ID</label>
      @Html.TextBoxFor(odn => odn.ID, new { @class = "form-control" })
      <br />
      <label>Kitap ADI</label>
      @Html.TextBoxFor(odn => odn.TBLKITAP.AD, new { @class = "form-control" })
      <br />
      <label>Üye</label>
      @Html.TextBoxFor(odn => odn.TBLUYELER.AD, new { @class = "form-control" })
      <br />
      <label>Personel</label>
      @Html.TextBoxFor(odn => odn.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
      <br />
      <label>Alış Tarihi</label>
      @Html.TextBoxFor(odn => odn.ALISTARIH, "{0: dd.MM.yyyy}", new { @class = "form-control" })
      <br />
      <label>Normal Iade Tarihi</label>
      @Html.TextBoxFor(odn => odn.IADETARIH, "{0: dd.MM.yyyy}", new { @class = "form-control" })
      <br />
      <label>Üyenin Getirdiği Tarih</label>
      <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
      <br />
      <label>Geç Gelen Gün Sayısı</label>
      <input type="text" class="form-control" @*id="Gecinput"*@  value="@ViewBag.dgr"/>
      
            
   </div>
   <div>
      <button class="btn btn-group" style="background-color:#86a046; color: white;">Ödünç Kıtabı Geri Al</button>
   </div>
}

