@model MvcKutuphane.Models.Entity.TBLKITAP
@{
   ViewBag.Title = "KitapEkle";
   Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
   <div></div>
   <div style="margin-top:15px;">
      <label>Kitap Adı</label>
      @Html.TextBoxFor(ktp => ktp.AD, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <label>Kitap Yazarı</label>
      @Html.DropDownListFor(ktp => ktp.TBLYAZAR.ID,
    (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <label>Kitap Kategori</label>
      @Html.DropDownListFor(ktp => ktp.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <label>Basım Yılı</label>
      @Html.TextBoxFor(ktp => ktp.BASIMYIL, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <label>Yayınevi</label>
      @Html.TextBoxFor(ktp => ktp.YAYINEVİ, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <label>Sayfa Sayısı</label>
      @Html.TextBoxFor(ktp => ktp.SAYFA, new { @class = "form-control" })
   </div>

   <div style="margin-top:15px;">
      <button class="btn btn-info">Kitap Ekle</button>
   </div> 
   <input type="hidden" name="Durum" value="True" />
</form>


